{
    "nginx.showstat.us": "digitalocean",
    "showstat.us": "digitalocean",
    "64.49.246.208": "rackspace-cloud",
    "allstruck.org:42123": "rackspace-cloud",
    "allstruck.com": "rackspace-cloud",
    "allstruck.net:42123": "rackspace-cloud"
}